.banner_overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  background: #0000007a;
}
.main-logo {
  margin: 27px 0 35px;
}
.about_me_title {
  margin-bottom: 30px;
  font-weight: 800;
  display: block;
}
.about_me_text {
  font-size: 20px;
  line-height: 36px;
  text-align: justify;
}
@font-face {
  font-family: "bangla";
  src: url("../fonts/solaiman.ttf");
}
.category-style-one h1,
.popular_news h1,
.blog-section h1,
.category-style-one h2,
.popular_news h2,
.blog-section h2,
.category-style-one h3,
.popular_news h3,
.blog-section h3,
.category-style-one h4,
.popular_news h4,
.blog-section h4,
.category-style-one h5,
.popular_news h5,
.blog-section h5,
.category-style-one h6,
.popular_news h6,
.blog-section h6,
.category-style-one a,
.popular_news a,
.blog-section a,
.category-style-one p,
.popular_news p,
.blog-section p,
.category-style-one span,
.popular_news span,
.blog-section span,
.category-style-one ul,
.popular_news ul,
.blog-section ul,
.category-style-one li,
.popular_news li,
.blog-section li {
  font-family: "bangla", "Hind", sans-serif;
}
.category-style-one p,
.popular_news p,
.blog-section p,
.category-style-one li,
.popular_news li,
.blog-section li,
.category-style-one a,
.popular_news a,
.blog-section a {
  font-size: 20px !important;
}
.category-style-one h1,
.popular_news h1,
.blog-section h1,
.category-style-one h2,
.popular_news h2,
.blog-section h2,
.category-style-one h3,
.popular_news h3,
.blog-section h3,
.category-style-one h4,
.popular_news h4,
.blog-section h4,
.category-style-one h5,
.popular_news h5,
.blog-section h5,
.category-style-one h6,
.popular_news h6,
.blog-section h6 {
  font-size: 26px;
}
.large-blog-news .lower-content .text p {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 30px;
}
.thm-btn {
  padding: 0 34px;
}
@media (min-width: 992px) {
  .top-bar .col-left,
  .top-bar .col-right {
    width: 50%;
  }
}
.transition {
  transition: 0.3s cubic-bezier(0.3, 0, 0, 1.3);
}
.one {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.one > li {
  background: #ffffff;
  border: 1px solid rgba(150, 150, 150, 0.29);
  -moz-box-shadow: 0px 0px 18px 0px rgba(103, 85, 85, 0.39);
  box-shadow: 0px 0px 18px 0px rgba(103, 85, 85, 0.39);
  height: 430px;
  text-align: center;
  position: relative;
}
.one > li img {
  margin-top: 60px;
}
.one > li:hover img {
  margin-top: 30px;
}
.one > li:hover {
  -moz-box-shadow: 0px 0px 5px 0px rgba(103, 85, 85, 0.25);
  box-shadow: 0px 0px 5px 0px rgba(103, 85, 85, 0.25);
}
.one > li:hover span {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  bottom: -400px;
}
.one > li:hover h3 {
  color: #ffffff;
  margin-top: 25px;
}
.one > li .wrapper {
  overflow: hidden;
  position: absolute;
  height: 430px;
}
.one > li span {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  height: 500px;
  width: 500px;
  background: #d75e3d;
  display: block;
  position: absolute;
  bottom: -300px;
  left: 50%;
  transform: translateX(-50%);
}
.one > li span img {
  margin-top: 10px;
  width: 50px;
}
.one > li span:hover {
  background: #d75e3d;
}
.one > li h3 {
  margin-top: 40px;
  color: #ffffff;
}
.one > li h3 em {
  display: block;
  font-style: normal;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 12px;
  margin-top: 5px;
}
.one .social {
  list-style: none;
  text-align: center;
  margin: 10px 0 0 0;
  padding: 10px;
}
.one .social li {
  opacity: 0;
  display: inline-block;
  padding: 5px;
}
.one > li:hover .social li {
  opacity: 0.5;
}
.one .social li a {
  cursor: pointer;
  display: block;
}
.one .social li a:hover {
  opacity: 0.5;
}
.one .social li img {
  width: 24px;
}
/*# sourceMappingURL=./custom.css.map */